{{ form_start(form) }}
    {{ form_row(form.formations) }}
    {{ form_row(form.durees) }}
    {{ form_row(form.salles) }}
    {{ form_row(form.intervenants) }}
    {{ form_row(form.prestataires) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
